
<h1>Big White Duck</h1>
<p>Pro Stacks</p>
<p class="view"><a href="http://www.bigwhiteduck.com">View the Main Website <small>bigwhiteduck.com</small></a></p>
<p class="view"><a href="http://atavernor.github.io/bwd/fontpro/">FontPro Stack <small>atavernor/bwd</small></a></p>
<hr>
<p class="view"><a href="https://github.com/atavernor/bwd">View the Project on GitHub <small>atavernor/bwd</small></a></p>

<ul>
  <li><a href="https://github.com/atavernor/bwd/zipball/master">Download <strong>ZIP File</strong></a></li>
  <li><a href="https://github.com/atavernor/bwd/tarball/master">Download <strong>TAR Ball</strong></a></li>
  <li><a href="https://github.com/atavernor/bwd">View On <strong>GitHub</strong></a></li>
</ul>
  